%table
  %tr
    %td{:style => 'width: 100%; vertical-align: bottom;'}
      %h1{:style => 'margin: 0 0 0 0;'}
        = 'Comments'
%hr
  = render :partial => 'comments/comment', :locals => {:comment => Comment.new(:content => (current_user.nil? ? 'Sign in to post a comment.' : ''))}
%table
  -comments.each do |comment|
    %tr{:class => cycle("even", "odd")}
      %td{:style => 'width: 30%;'}
        =comment.user.name
      %td{:style => 'width: 70%;'}
        =comment.content

